body {
    background-image: url("/static/Images/auth_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
}

form {
    background-color: var(--white);
    margin: auto;
    width: 30%;
    max-width: 450px;
    min-width: 150px;
    padding: 50px 60px;
    text-align: center;
    border: 5px outset var(--dark-green);
    border-radius: 20px;
    box-shadow: 10px 10px 40px -5px var(--black);
}

.logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 350px;
  min-width: 200px;
}

.auth {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.auth h3 {
  display: inline;
  margin: 0 20px;
  color: var(--green);
}

.auth h3 a {
  display: inline;
  color: var(--darker-green);
  transition: 0.5s;
}

.auth h3 a:hover {
  color: var(--light-green);
}

.form-container {
  margin: 40px 0;
  display: grid;
  gap: 30px;
}

.form-group {
  position: relative;
}

.form-label {
  font-weight: 500;
}

.form-input {
  width: 80%;
  margin-top: 10px;
  background: none;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid var(--gray);
  text-align: center;
  outline: none;
  transition: 0.5s;
}

.form-input:hover, .form-input:focus  {
  width: 100%;
  border-color: var(--dark-green);
}

.login {
  padding: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  color: #ffffff;
  background-color: var(--dark-green);
  transition: 0.1s;
  box-shadow: 0 1px 10px var(--black);
}

.login:active {
  background-color: var(--darker-green);
  width: 110px;
  box-shadow: 0 2px 5px var(--black);
}

/* ========== MEDIA QUERIES RESPONSIVE ========== */ 

@media (max-width: 1024px) {
  form {
    width: 40%;
    padding: 25px 40px;
  }

  .logo img {
    width: 300px;
  }
}

@media (max-width: 878px) {

  .logo img {
    width: 275px;
  }

}

@media (max-width: 768px) {
  form {
    width: 55%;
    padding: 25px 30px;
  }

  .logo img {
    width: 250px;
  }

  .form-input {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  form {
    width: 75%;
    padding: 20px 25px;
  }

  .auth h3 {
    margin: 0 10px;
  }
}

@media (max-width: 420px) {
  form {
    width: 90%;
    padding: 15px 20px;
  }

  .logo img {
    width: 200px;
  }

  .form-input {
    width: 100%;
    font-size: 16px;
  }
}