body {
  background-image: url("/Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav  header header"
    "nav main main"
    "nav footer footer";
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 75px 1fr 100px;
  overflow: auto;
}

/*HEADER*/

.header {
  grid-area: header;
  margin-top: 10px;
  padding: 0 40px;
  background-color: var(--transparent-white-green);
  display: flex;
  width: 80%;
  justify-self: center;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  align-self: flex-end;
}

.logo img {
  width: 200px;
  height: auto;
}

/*MAIN*/

.main {
  grid-area: main;
  margin-bottom: 20px;
  padding: 30px 40px 40px;
  background-color: var(--transparent-white-green);
  width: 80%;
  justify-self: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.default-pfp {
  width: 100px;
  border: 1px solid var(--green);
  border-radius: 100px;
  cursor: pointer;
}

.pfp-input {
  opacity: 0;
  width: 0;
}

.user {
  display: grid;
  grid-template-areas:
    "pfp username desc"
    "pfp username desc";
  grid-template-columns: 1fr 1fr 4fr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  grid-area: pfp;
  align-items: center;
}

.profile-picture label {
  display: flex;
}

.username {
  grid-area: username;
  margin-left: 20px;
  margin-right: 40px;
}

.usercode {
  color: var(--gray);
}

.description {
  grid-area: desc;
  width: 90%;
  min-height: 100px;
  background-color: var(--lighter-green);
  border: 1px solid var(--green);
  border-radius: 10px;
  padding: 10px;
  word-break: break-all;
}

.edit-button {
  background-color: var(--dark-green);
  display: flex;
  padding: 10px;
  text-align: center;
  justify-self: center;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  margin: 20px 0;
  transition: 0.1s;
  font-size: 14px;
}

.edit-button a {
  color: var(--white);
}

.edit-button:active {
  background-color: var(--darker-green);
}

.recipes {
  padding-top: 30px;
  border-top: 2px solid var(--gray);
}

.recipe-list {
  display: grid;
  width: 85%;
  justify-self: center;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
}

.recipe-block {
  justify-self: center;
  text-align: center;
  width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.recipe-block img {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.no-recipes {
  display: none;
  grid-column: 2;
  justify-items: center;
}

.no-recipes img {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe-button {
  background-color: var(--dark-green);
  color: var(--white);
  margin-top: 20px;
}

.recipe-button {
  padding: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--dark-green);
  transition: 0.1s;
  font-size: 14px;
}

.recipe-button:active {
  background-color: var(--darker-green);
}

.recipe-button i,
.recipe-button p {
  display: inline;
}

/*NAV*/

.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 0 20px;
  border-right: 1px solid black;
  background-color: var(--transparent-white-green);
}

.nav div {
  margin: 30px 0;
}

.nav div h3,
.nav div p,
.nav div i {
  display: inline;
}

.nav a,
.nav i {
  color: var(--darker-green);
}

.nav div a > * {
  transition: 0.5s;
}

.nav div a:hover > * {
  color: var(--light-green);
}

.icon-menu {
  cursor: pointer;
  width: fit-content;
}

.icon-menu i {
  color: var(--black);
  font-size: larger;
}

.account p,
.account i {
  color: var(--green);
}

/*FOOTER*/

.footer {
  grid-area: footer;
  background-color: var(--transparent-lighter-green);
}

/* ========== MEDIA QUERIES RESPONSIVE ========== */

@media screen and (min-width: 2000px) {
  .recipe-list {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
  .recipe-list {
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
  }

  .header {
    padding: 0 40px;
  }

  .main {
    padding: 0 40px;
  }

  .searchbar {
    width: 450px;
  }

  .recipe-list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
    width: 490px;
  }
}

@media screen and (max-width: 1120px) {
  .recipe-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 878px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: auto;
    min-height: 100vh;
  }

  body {
    height: auto;
    min-height: 100vh;
    width: 95%;
    display: grid;
    justify-self: center;
  }

  .header {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    padding: 15px 20px;
  }

  .main {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0 15px 30px;
  }

.user {
  display: grid;
  grid-template-areas:
    "pfp username"
    "desc desc";
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

  .username {
    display: block;
    justify-self: start;
    margin-left: 0;
  }
 
  .edit-button {
    display: flex;
  }

  .logo {
    align-self: center;
  }

  .filtered-search {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }

  .searchbar {
    width: 100%;
    max-width: 380px;
    border-radius: 30px;
    border-right: 2px solid var(--dark-green);
  }

  .search-button {
    max-width: 380px;
    border-radius: 30px;
  }

  .recipe-list {
    grid-template-columns: 1fr;
    row-gap: 40px;
    width: 100%;
    margin-top: 20px;
  }

  .recipe-block {
    width: 100%;
    max-width: 290px;
  }

  .recipe-block img {
    width: 100%;
    height: auto;
    max-height: 220px;
  }

  .main {
    padding-top: 20px;
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 1px solid var(--green);
  }

  .nav div {
    width: 16px;
  }

  .icon-menu {
    display: none;
  }

  .nav div p {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .searchbar,
  .search-button {
    max-width: 280px;
  }
}

@media screen and (max-width: 360px) {
  .searchbar,
  .search-button {
    max-width: 250px;
  }

  .recipe-block {
    max-width: 250px;
  }
}

/* ========== JAVASCRIPT CLASSES ========== */

.nav.minimized p {
  display: none;
}

.container.minimized {
  grid-template-columns: 60px auto;
}