<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/pages/profile.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css" />
</head>

<body>
    <div class="container" id="container">
        <div class="header">
            <div class="logo">
                <img src="/Images/TasteMatch_logo.png" />
            </div>
        </div>

        <div class="main">
            <div class="user">
                <div class="profile-picture">
                    <label for="photo-input">
                        <input type="file" class="pfp-input" id="photo-input" accept="image/*">
                        <img src="/Images/profile-picture.png" class="default-pfp">
                    </label>
                </div>
                <div class="username">
                    <h3 class="nickname">My Username</h3>
                    <h5 class="usercode">@testcooker_123</h5>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec dapibus augue, eu rhoncus
                    leo. In commodo consectetur lacus non feugiat. Integer vehicula, felis sed mattis sodales,
                    odio libero viverra tellus, non blandit sapien metus et tortor. Quisque at sem aliquet,
                    semper neque sed, hendrerit purus. Ut sed erat luctus metus tincidunt fringilla. Donec
                    cursus dictum dolor ut feugiat. Proin mauris sem, aliquet at velit tristique, finibus varius
                    diam. Vestibulum in tristique nulla. Donec at molestie ligula, a molestie nibh. Curabitur
                    efficitur sit amet turpis nec ultrices. Aliquam libero ipsum, venenatis eu venenatis sit
                    amet, volutpat at tortor. Cras congue felis vel ex pharetra, eu convallis velit fringilla.
                    Vivamus dignissim gravida malesuada. Integer vel mi eget quam tempus dapibus.
                </div>
            </div>
            <div class="edit-button">
                <a href="edit-profile">Editar perfil</a>
            </div>

            <div class="recipes">
                <h2>Mis recetas</h2>
                <div class="recipe-list">
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block" id="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>

                    <div class="no-recipes" id="no-recipes">
                        <img src="/Images/no_recipes.png">
                        <h3>No has hecho ninguna receta</h3>
                        <a href="/new-recipe" class="recipe-button">
                            <i class="fa-regular fa-plus"></i>
                            <p>Crear</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav" id="nav">
            <div class="icon-menu" id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="search">
                <a href="/">
                    <i class="fa-regular fa-magnifying-glass"></i>
                    <p>Buscar</p>
                </a>
            </div>

            <div class="account">
                <a href="profile">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>Cuenta</p>
                </a>
            </div>

            <div class="create-recipe">
                <a href="/new-recipe">
                    <i class="fa-regular fa-pencil"></i>
                    <p>Crear receta</p>
                </a>
            </div>

            <div class="favourite-recipes">
                <a href="/favourite-recipes">
                    <i class="fa-regular fa-star"></i>
                    <p>Recetas Favoritas</p>
                </a>
            </div>

            <div class="settings">
                <a href="/Other/settings">
                    <i class="fa-regular fa-gear"></i>
                    <p>Ajustes</p>
                </a>
            </div>
        </div>

        <div class="footer">
            <p>Bla bla bla info....</p>
        </div>
    </div>
    <script src="/js/nav-toggle.js"></script>
    <script src="/js/recipe-toggle.js"></script>
</body>

</html>