<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas Favoritas</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/pages/favourite-recipes.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css" />
</head>

<body>
    <div class="container" id="container">
        <div class="header">
            <div class="logo">
                <img src="/Images/TasteMatch_logo.png" />
            </div>
        </div>

        <div class="main">
            <div class="recipes">
                <h2>Recetas guardadas</h2>
                <div class="recipe-list">
                    <div class="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="recipe-block">
                        <a href="/recipe-template">
                            <img src="/Images/default_image.png">
                            <h3>Recipe title</h3>
                        </a>
                    </div>
                    <div class="no-recipes">
                        <img src="/Images/no_recipes.png">
                        <h3>No has guardado ninguna receta</h3>
                        <a href="/" class="recipe-button">
                            <i class="fa-thin fa-compass"></i>
                            <p>Explorar</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav" id="nav">
            <div class="icon-menu" id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="search">
                <a href="/">
                    <i class="fa-regular fa-magnifying-glass"></i>
                    <p>Buscar</p>
                </a>
            </div>

            <div class="account">
                <a href="/profile">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>Cuenta</p>
                </a>
            </div>

            <div class="create-recipe">
                <a href="/new-recipe">
                    <i class="fa-regular fa-pencil"></i>
                    <p>Crear receta</p>
                </a>
            </div>

            <div class="favourite-recipes">
                <a href="/favourite-recipes">
                    <i class="fa-regular fa-star"></i>
                    <p>Recetas Favoritas</p>
                </a>
            </div>

            <div class="settings">
                <a href="/settings">
                    <i class="fa-regular fa-gear"></i>
                    <p>Ajustes</p>
                </a>
            </div>
        </div>

        <div class="footer">
            <p>Bla bla bla info....</p>
        </div>
    </div>
    <script src="/js/nav-toggle.js"></script>
</body>

</html>